body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-template-areas:
        "header"
        "article"
        "main"
        "footer";
}

header {
    grid-area: header;
    display: flex;
    background-color: rgb(2, 66, 161);
    font-size: 20px;
    margin-top: 0;
    justify-content: space-around;
}

.textoheader {
    display: flex;
    margin-left: 5px;
    align-items: center;
    color: white;
    gap: 10px;
}

.textoheader p {
    margin: 0;
}

.textoheader i {
    color: white;
}

.container-fluid {
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

.navbar button {
    background-color: white;
}

#inicio a {
    color: white;
}

.menu {
    display: none;
}

#buscador {
    background-color: rgb(230, 230, 227);
    padding: 10px;
    text-align: center;
}

.filtro {
    width: 90%;
    height: 30px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oferta2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-height: 380px;
    overflow-y: scroll;
}

.oferta2 img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.oferta2 img:hover {
    filter: grayscale(0%);
}

.producto {
    text-align: center;
    border: solid gray 1px;
    box-shadow: 1px 5px 5px 0px;
    margin-bottom: 30px;
}


.producto button {
    padding: 10px;
    width: 40%;
    background-color: rgb(0, 46, 114);
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
}

.paginas {
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px 10px;
    margin: 20px 5px;
}

.paginas a {
    color: blue;
    padding: 10px;
    border: solid rgb(206, 206, 206) 1px;
    text-decoration: none;
}

footer {
    grid-area: footer;
    background-color: rgb(0, 46, 114);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconosfoot {
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 20px;
}

.iconosfoot i {
    font-size: large;
}

.textofoot p {
    color: white;
    margin-top: 5px;
}

@media (min-width: 576px) {
    body {
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-areas:
            "header section"
            "header main"
            "footer main";
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .textoheader {
        margin-left: 20px;
        margin-bottom: 100px;
        font-size: x-large;
        transition: color 0.3s ease-in-out;
    }

    .textoheader:hover {
        color: orange;
    }

    .navbar {
        display: none;
    }

    .botongrupal {
        display: none;
    }

    .menu {
        display: block;
        margin-bottom: 100px;
    }

    .menu li {
        margin-bottom: 50px;
        transform: rotate(320deg)
    }

    .menu a {
        text-decoration: none;
    }


    .oferta2 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        max-height: 530px;
        margin: 20px 20px 40px 20px;
        gap: 10px;
    }

    .paginas {
        margin-top: 30px;
    }

    footer {
        text-align: center;
        justify-content: center;
    }
}